/* ---------Single Page Website CSS by Kelly King ----------*/

*{ margin: 0 auto;}


body {
	background:white; 
	margin: 0 auto; 
	font-family:georgia, times,serif; 
	height:2000px;
	}

#header {
	position:fixed;
	top:0px;
	left:0px;
	background:#666; 
	height:70px; 
	width:100%;
	}

#nav {
	margin-left:50px;
	margin-top:45px;
	word-spacing:20px;
}
	
#page1 {
	height:1100px;
	width:960px;
	background:#afc9ff;
	padding-top:110px;
	}
	
#page2 {
	height:1100px;
	width:960px;
	background:#777cdc;
	padding-top:150px;
	}
	
#page3 {
	height:1100px;
	width:960px;
	background:#9b70c0;
	padding-top:150px;
	}
	
.page-padding {height:90px; width:100%;}

a { color:white; text-decoration:none;}
	
a:hover { text-decoration:underline;}
